#lomas-de-zamora {
    background-image: url('../img/lomas-z.jpg');
}

#ramos-mejia {
    background-image: url('../img/ramos.jpg');
}

#laferrere {
    background-image: url('../img/lafe.jpg');
}

#canuelas {
    background-image: url('../img/canuelas.jpg');
}

#carolina-del-norte {
    background-image: url('../img/carolina.jpg');
}